.homebody__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.homebody_library {
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 15px;
  border-radius: 10px;
}

.homebody_link {
  text-decoration: none;
  color: black;
  font-family: "Arial", serif;
}

@media only screen and (max-width: 1300px) {
  .homebody .container {
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .homebody__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .homebody_library {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .homebody_library {
    padding: 15px;
  }

  .img_library {
    width: 250px;
    height: 150px;
  }
}
